{
  "extends": "airbnb-base",
  "globals" : {
    "describe": true,
    "beforeEach": true,
    "beforeAll": true,
    "test": true,
    "expect": true
  },
  "rules": {
    "no-param-reassign": 0,
    "prefer-destructuring": "off"
  }
}